<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
      <controlSources>
          <source patch:instead="*[@namespace='Sitecore.XA.Foundation.SitecoreExtensions.CustomFields.FieldTypes']" mode="on" namespace="Sitecore.Support.XA.Foundation.SitecoreExtensions.CustomFields.FieldTypes" assembly="Sitecore.Support.255828" prefix="content"/>
      </controlSources>
  </sitecore>
</configuration>